{{- $lang := .Type -}}
{{- $title := "" -}}
{{- if .Attributes.title -}}
{{- $title = .Attributes.title -}}
{{- end -}}
<div class="code-block relative my-6 bg-[#282c34] rounded-[var(--radius-large)] overflow-hidden shadow-xl">
    {{- if or $title $lang -}}
    <div class="px-4 pt-3 pb-1 text-sm font-mono text-white/50 select-none">
        {{- if $title -}}{{- $title -}}{{- else -}}{{- $lang -}}{{- end -}}
    </div>
    {{- end -}}
    <div class="overflow-x-auto text-[14px] text-gray-300">
        {{- if transform.CanHighlight .Type -}}
        {{- transform.Highlight .Inner .Type "" -}}
        {{- else -}}
        <div class="p-4">
            <pre><code class="language-{{ .Type }}">{{ .Inner }}</code></pre>
        </div>
        {{- end -}}
    </div>
</div>